.scrolling-wrapper {
  /* overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border: 0px; */
}
.card {
  /* display: inline inline-block;
  border: 0px; */
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

body {
  font-family: "Open Sans", "Lucida Grande";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

.container {
  background-color: #eee;
}

.container > div {
  width: 100%;
  min-height: 500px;
  color: #444;
  font-size: 28px;
  text-align: center;
  position: relative;
  top: 0;
}

.block1 {
  background-color: #6ebcd0;
  z-index: 1;
  position: fixed;
}

.block2 {
  background-color: #55b18e;
  z-index: 2;
  margin-top: 500px;
}

.block3 {
  background-color: #e65748;
  z-index: 3;
}

.block4 {
  background-color: #ccc;
  /*#e8e8e8*/
  z-index: 4;
}
.block5 {
  background-color: #ccc;
  /*#e8e8e8*/
  z-index: 5;
}

.block6 {
  background-color: #ccc;
  /*#e8e8e8*/
  z-index: 6;
}
