.body1 {
	margin: 0px;
	background: radial-gradient(rgb(80,80,80), black);
	background-color: #1E1E1E;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%232b2c2d' fill-opacity='0.23' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container {
	width: 350px;
	height: 350px;
	border-radius: 50%;
	margin-top: auto;
	margin-bottom: auto;
	background: linear-gradient(165deg, rgba(255,255,255,.1) 0%, rgba(220, 220, 220,.2) 40%, rgba(170, 170, 170,.2) 98%, rgba(10, 10, 10,.2) 100%);
	
}
.loader {
	/* transform: translateX(-55%);	 */
}

.loader::before {
	content: "";
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border-bottom: 0px solid #ffffff05;
	margin-top: auto;
	margin-bottom: auto;
	
	margin-left: auto;
	margin-right: auto;
	
	box-shadow: 
		0 -10px 20px 20px #ffffff40 inset,
		0 -5px 15px 10px #ffffff50 inset,
		0 -2px 5px #ffffff80 inset,
		0 -3px 2px #ffffffBB inset,
		0 2px 0px #ffffff,
		0 2px 3px #ffffff,
		0 5px 5px #ffffff90,
		0 10px 15px #ffffff60,
		0 10px 20px 20px #ffffff40;
	filter: blur(20px);
	animation: 2s rotate linear infinite;
	animation-delay: -0.5s;
	
}

@keyframes rotate {

	0% {
		transform: rotate(360deg) scale(.2) ;
		
	}
	
	100% {
		transform: scale(1.0) rotate(360deg) ;
		opacity: 0;
	}
}



.socket{
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -100px;
}

.hex-brick{
  background: #4d48cc;
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
  filter: blur(0px);
animation-name: fade;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

.h2{
	transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
}

.h3{
	transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
}

.gel{
	height: 30px;
	width: 30px;	
	transition: all .3s;
	-webkit-transition: all .3s;
	position: absolute;
top: 50%;
left: 50%;
}

.center-gel{
	margin-left: -15px;
	margin-top: -15px;
	
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

.c1{
	margin-left: -47px;
	margin-top: -15px;
}

.c2{
	margin-left: -31px;
	margin-top: -43px;
}

.c3{
	margin-left: 1px;
	margin-top: -43px;
}

.c4{
	margin-left: 17px;
	margin-top: -15px;
}
.c5{
	margin-left: -31px;
	margin-top: 13px;
}

.c6{
	margin-left: 1px;
	margin-top: 13px;
}

.c7{
	margin-left: -63px;
	margin-top: -43px;
}

.c8{
	margin-left: 33px;
	margin-top: -43px;
}

.c9{
	margin-left: -15px;
	margin-top: 41px;
}

.c10{
	margin-left: -63px;
	margin-top: 13px;
}

.c11{
	margin-left: 33px;
	margin-top: 13px;
}

.c12{
	margin-left: -15px;
	margin-top: -71px;
}

.c13{
	margin-left: -47px;
	margin-top: -71px;
}

.c14{
	margin-left: 17px;
	margin-top: -71px;
}

.c15{
	margin-left: -47px;
	margin-top: 41px;
}

.c16{
	margin-left: 17px;
	margin-top: 41px;
}

.c17{
	margin-left: -79px;
	margin-top: -15px;
}

.c18{
	margin-left: 49px;
	margin-top: -15px;
}

.c19{
	margin-left: -63px;
	margin-top: -99px;
}

.c20{
	margin-left: 33px;
	margin-top: -99px;
}

.c21{
	margin-left: 1px;
	margin-top: -99px;
}

.c22{
	margin-left: -31px;
	margin-top: -99px;
}

.c23{
	margin-left: -63px;
	margin-top: 69px;
}

.c24{
	margin-left: 33px;
	margin-top: 69px;
}

.c25{
	margin-left: 1px;
	margin-top: 69px;
}

.c26{
	margin-left: -31px;
	margin-top: 69px;
}

.c27{
	margin-left: -79px;
	margin-top: -15px;
}

.c28{
	margin-left: -95px;
	margin-top: -43px;
}

.c29{
	margin-left: -95px;
	margin-top: 13px;
}

.c30{
	margin-left: 49px;
	margin-top: 41px;
}

.c31{
	margin-left: -79px;
	margin-top: -71px;
}

.c32{
	margin-left: -111px;
	margin-top: -15px;
}

.c33{
	margin-left: 65px;
	margin-top: -43px;
}

.c34{
	margin-left: 65px;
	margin-top: 13px;
}

.c35{
	margin-left: -79px;
	margin-top: 41px;
}

.c36{
	margin-left: 49px;
	margin-top: -71px;
}

.c37{
	margin-left: 81px;
	margin-top: -15px;
}

.r1{
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .2s;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .2s;
}

.r2{
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .4s;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .4s;
}

.r3{
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .6s;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .6s;
}

.r1 > .hex-brick{
	animation-name: fade;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .2s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .2s;
}

.r2 > .hex-brick{
	animation-name: fade;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .4s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .4s;
}

.r3 > .hex-brick{
	animation-name: fade;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .6s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .6s;
}


@keyframes pulse{
	0%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	
	50%{
		-webkit-transform: scale(0.01);
		transform: scale(0.01);
	}
	
	100%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes fade{
	0%{
		background: #ABF8FF;
		
	}
	
	50%{
		background: #90BBBF;
		
	}
	
	100%{
		background: #ABF8FF;
		
	}
}

@-webkit-keyframes pulse{
	0%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	
	50%{
		-webkit-transform: scale(0.01);
		transform: scale(0.01);
	}
	
	100%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes fade{
	0%{
		background: #ABF8FF;
	}
	
	50%{
		background: #389CA6;
	}
	
	100%{
		background: #ABF8FF;
	}
}