.AboutFull {
  background-size: 100% 100%;

  position: relative;
  margin-top: 0px !important;
  width: 100% !important;
  height: 100vh !important;
  left: 0px;
  top: 0px;
}
.relative {
  position: relative;
}
.bg-chrome {
  background-color: rgb(60, 64, 69); /*My own Dark shade*/
}
.bg-img {
  background: url("./../../components/images/projectbg6.jpg");
  background-repeat: no-repeat;
  background-size: 105vw 100vh;
}
.backTextEd {
  margin-left: 5%;
  position: relative;

  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  float: left;
  font-size: 12vw;
  font-family: fantasy;
  color: rgba(200, 200, 2000, 0.03);
}
.z2 {
  z-index: 2;
  position: absolute;
  margin-left: 10%;
  margin-top: 6%;
  color: white;
}

.heading {
  font-size: 4vw;
  font-family: cursive;
  width: 100%;
  text-align: left;
}

.frame {
  transition: 0.4s;
  padding: 8px;
  background: transparent;
  border: 7px solid transparent;
  border-image: url("./../../components/images/frame3.jpg") 60;
  box-shadow: -12px 4px 33px -14px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -12px 4px 33px -14px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -12px 4px 33px -14px rgba(0, 0, 0, 0.42);
}

.frame:hover {
  transition: 0.4s;
  background: transparent;
  border: 5px solid transparent;
  border-image: url("./../../components/images/frame3.jpg") 60;
  box-shadow: -11px 7px 46px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -11px 7px 46px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -11px 7px 46px -5px rgba(0, 0, 0, 0.75);
  padding: 10px;
}
.hide {
  visibility: hidden !important;
}
