@keyframes large1 {
  0% {
    transform: scale(1);
    z-index: -1;
  }
  10% {
    transform: scale(1.1);
    z-index: -1;
  }
  20% {
    transform: scale(1.2);
    z-index: -1;
  }
  30% {
    transform: scale(1.3);
    z-index: -1;
  }
  40% {
    transform: scale(1.2);
    z-index: -1;
  }
  50% {
    transform: scale(1.1);
    z-index: -1;
  }
  60% {
    transform: scale(1.2);
    z-index: -1;
  }
  70% {
    transform: scale(1.3);
    z-index: -1;
  }
  80% {
    transform: scale(1.2);
    z-index: -1;
  }
  90% {
    transform: scale(1.1);
    z-index: -1;
  }
  100% {
    transform: scale(1);
    z-index: -1;
  }
}
.bg-experience {
  background: url("./../../components/images/exp2.jpg") white;
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
}

.bg-experience:hover {
  animation: large1 linear 20s infinite;
}

.list {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 20px;
  text-align: left;

  float: left;
  border: 0px red solid;
  width: max-content;
  max-width: 25vw;
  line-height: 10%;
}

.exlogo {
  border-radius: 100px;
  height: 180px;
}

.desc1 {
  padding-bottom: 2vw;
  text-align: justify;
  font-style: italic;
}
hr {
  margin-top: 0px;
  width: 100%;
  background-color: white;
  float: left;
}
