.AboutFull {
  background-size: 100% 100%;
  position: relative;
  margin-top: 0px !important;
  width: 100% !important;
  height: 100vh !important;
  left: 0px;
  top: 0px;
}
.relative {
  position: relative;
}
.bg-chrome {
  background-color: rgb(60, 64, 69); /*My own Dark shade*/
}
.backTextEd {
  margin-left: 5%;
  position: relative;

  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  float: left;
  font-size: 12vw;
  font-family: fantasy;
  color: rgba(200, 200, 2000, 0.03);
}
.z2 {
  z-index: 2;
  position: absolute;
  margin-left: 10%;
  margin-top: 10%;
  color: white;
}

.heading {
  font-size: 4vw;
  font-family: "Trirong", cursive;
  width: 100%;
  text-align: left;
}
/*
*********************
 TIME LINE CSS BELOW
*********************
*/

.proCard {
  border: 0px;
  padding-top: 1vw;
  background: linear-gradient(0deg, transparent, transparent, rgb(40, 40, 40));
}

.proCard:hover {
  background: linear-gradient(
    180deg,
    transparent,
    transparent,
    rgb(40, 40, 40)
  );
}
.probgpic {
  background: url("./../../components/images/project3.svg") white;
  background-size: cover;

  background-size: 30vw;
  background-repeat: no-repeat;
  background-position: left center;
}
