@keyframes gradient {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 90% 50%;
  }
  100% {
    background-position: 10% 50%;
  }
}

* {
  color: white;
}

/************
New footer css code bootstrap4
*************/

.full {
  width: 100vw;
}
.gap {
  height: 30px;
  width: 100vw;
  clear: both;
  display: block;
}
.footer {
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 101vw;
}

.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 0px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer h4 {
  color: white;
  font-size: 2em;
  font-weight: 600;
  line-height: 38px;
  padding: 40px 0 10px;
  font-family: cursive;
  font-weight: lighter;
}

.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0px;
  color: white;
  padding: 0 0 8px 0;
}

.email {
}
.footer ul li a {
  padding: 0 0 12px 0;
  display: block;
}
.footer a {
  color: white;
  font-weight: lighter;
}

.footer p {
  color: white;
  font-weight: lighter;
}

.footer a:hover {
  text-decoration: none;
  font-weight: bold;
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.bg-gray {
  background-image: -moz-linear-gradient(
    center bottom,
    #bbbbbb 0%,
    #f0f0f0 100%
  );
  box-shadow: 0 1px 0 #b4b3b3;
}

.footer-bottom {
  margin-top: 1em;
  border-top: 0px solid #dddddd;
  padding-top: 0em;
  padding-bottom: 0px;
  bottom: 0px;
  left: 0px;
}
.footer-bottom p.copyright {
  padding-top: 1em;
  font-size: 0.85em;
  bottom: 0px;
}

.form-group input,
textarea,
button {
  margin-bottom: 0.5em;
}

.form-group input,
.form-group textarea {
  border: 0;
}
::-webkit-input-placeholder {
  /* Edge */
  color: white;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: white;
}

::placeholder {
  color: white;
}
/* This code below is for the new footer implementation of social media icons */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
  font-family: "Lato", sans-serif;

  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #fff;
}
p > a:hover {
  color: #d9d9d9;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1% 0 1% 0;
}
._12 {
  font-size: 0.6em;
}
._14 {
  font-size: 1.4em;
}
ul {
  padding: 0;
  list-style: none;
}
.footer-social-icons {
  width: 100%;
  line-height: 0.5em;
  display: inline-flex;
  margin: auto auto;
  align-content: stretch;
}
.social-icon {
  color: #fff;
  display: inline;
  padding-left: 0.5em;
}
ul.social-icons {
  margin-top: 3em;
  margin-bottom: 0em;
}
.social-icons li {
  vertical-align: middle;
  display: inline-flex;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.fa-facebook {
  padding: 10px 14px;
  font-size: x-large;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
}
.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-youtube {
  padding: 10px 14px;
  font-size: x-large;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
}
.fa-youtube:hover {
  background-color: #e64a41;
}
.fa-linkedin {
  padding: 10px 14px;
  font-size: x-large;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
}
.fa-linkedin:hover {
  background-color: #0073a4;
}
.fa-github {
  padding: 10px 14px;
  font-size: x-large;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
}
.fa-github:hover {
  background-color: #5a32a3;
}
