@keyframes gradient {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 90% 50%;
  }
  100% {
    background-position: 10% 50%;
  }
}

.App {
  text-align: center;
}

.stick {
  z-index: 2;
}

.main_wrap {
  height: 100vh !important;
  background: transparent;
  background-repeat: no-repeat;

  background-position: center;
  background-clip: ;
  background-size: cover;
  enable-background: accumulate;
}

.half_wrap {
  background: linear-gradient(
    90deg,
    rgb(41, 145, 243),
    rgb(4, 177, 235),
    rgb(65, 105, 225)
  );
  background-size: 400% 400%;
  -webkit-animation: gradient 20s ease infinite;
  -moz-animation: gradient 20s ease infinite;
  animation: gradient 20s ease infinite;
}
.main_head {
  background: transparent;

  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.03);
  padding-top: 0px !important;
  margin-top: 0px !important;
  position: sticky;
  width: 100vw !important;
  left: 0px;
  top: 0px;
}
.nav_head {
  background: linear-gradient(
    270deg,
    rgba(41, 145, 243, 0.01),
    rgba(4, 177, 235, 0.01),
    rgba(65, 105, 225, 0.01)
  );
  backdrop-filter: blur(10px);
  background-size: 400% 400%;
  -webkit-animation: gradient 20s ease infinite;
  -moz-animation: gradient 20s ease infinite;
  animation: gradient 20s ease infinite;
  box-shadow: -2px 6px 10px 0 rgba(0, 0, 0, 0.2);
  padding-top: 0px !important;
  margin-top: 0px !important;
  position: sticky;
  width: 100vw !important;
  left: 0px;
  top: 0px;
}
