body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(
    90deg,
    #c2185b,
    #e30d3b,
    #da2f04d8,
    #c2185b,
    #e30d3b
  );
  background-size: 400% 400%;
  z-index: -1;
  -webkit-animation: gradient 20s ease infinite;
  -moz-animation: gradient 20s ease infinite;
  animation: gradient 20s ease infinite;
}
