.AboutFull {
  background-size: 100% 100%;
  position: relative;
  margin-top: 0px !important;
  width: 100% !important;
  height: 100vh !important;
  left: 0px;
  top: 0px;
}
.relative {
  position: relative;
}
.bg-chrome {
  /* My own Dark shade below */
  background-color: rgb(60, 64, 69);
}
.backTextEd {
  margin-left: 1%;
  position: relative;

  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  float: left;
  font-size: 2vw;
  font-family: "DM Serif Display", fantasy;
  color: rgba(200, 200, 2000, 0.03);
}
.z2 {
  z-index: 2;
  position: absolute;
  margin-left: 10%;
  margin-top: 10%;
  color: white;
}

.heading {
  font-size: 4vw;
  font-family: "Trirong", cursive;
  width: 100%;
  text-align: left;
}
/*
*********************
 TIME LINE CSS BELOW
*********************
*/

.listlogo {
  margin-left: 5vw;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 5vw;
  text-align: left;
  float: left;

  width: auto;
  line-height: 10%;
}
.grad {
  border-left: 0px solid ivory !important;
  padding-left: 10px !important;
  /* background: linear-gradient(120deg, rgba(200, 200, 2000, 0.13), transparent); */
}

.hr1 {
  margin-top: -5px;
  margin-bottom: 0px;
  width: 100%;
  background-color: white;
  float: left;
}

h5 {
  max-width: 100vw;
  font-size: 1vw;
}
.edlogo {
  border-radius: 100px;
  height: 5vw;
}

.bgpic {
  background: url("./../../components/images/ed2.jpg") white;
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
}
.bgpic:hover {
  filter: brightness(1.1);
}
