@keyframes logo {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}

.AboutFull {
  background-size: 100% 100%;
  position: relative;
  margin-top: 0px !important;
  width: 100% !important;
  height: 100vh !important;
  left: 0px;
  top: 0px;
}
.backTextAb {
  margin-left: 4%;
  position: relative;
  top: -2.5vw;
  left: 0;
  bottom: 0;
  z-index: 0;
  float: left;
  font-size: 12vw;
  font-family: "Trirong", fantasy;
  color: rgba(100, 100, 100, 0.05); /**/
}

.z2 {
  z-index: 2;
  position: absolute;
  margin-left: 10%;
  margin-top: 10%;
  color: gold;
}

.section {
  text-align: justify;
  font-style: italic;
  width: 75%;
}

.heading {
  padding-top: 0vh;
  font-size: 4vw;
  font-family: "Trirong", cursive;
}
.heading1 {
  float: left;
  text-align: justify;
  font-style: italic;
  padding-top: 0vh;
  width: 100%;
  border: 0px white solid;
  font-size: 2.4vw;
  font-family: "Trirong", cursive;
}
.bg-about {
  background: url("./../../components/images/about.jpg") white;
  background-size: cover;
  align-content: space-around;
  text-align: center;
  padding-top: 31.5vh;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(1);
}
.bg-about:hover {
  background: url("./../../components/images/about.jpg") white;
  background-size: cover;
  align-content: space-around;
  text-align: center;
  padding-top: 31.5vh;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(1.1);
}
.grid {
  align-content: center;
}
.gridPic {
  height: 4vw;
  width: auto;
  margin: 10px !important;
  padding-right: 15px !important;
  border-right: 15px transparent solid;
  filter: brightness(0.9);
}
.gridPic:hover {
  filter: brightness(1.1);

  /* z-index: 3;
  animation: logo 1s ease-out; */
}
